#ballCanvas {
  width: 100vw;
  height: 50vh;
  top: 45vh;
  left: 0;
  position: absolute;
}

#questionBox {
    height: 45vh;
    width: 90vw;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 5vh;
    right: 5vw;
    font-family: 'SimplePrintRegular';
    font-size: 25px;
    color: #292f33;
    z-index: 200;
    -webkit-transition: width 0.75s;
    overflow: hidden;
}


#display-activity {
    padding: 5% 5% 5% 5%;
    margin: 0;
}



#activity-score-up {
  font-family: 'BigBottomCartoonRegular';
  display: inline;
  font-size: 100px;
  position: absolute;
  right: 3vw;
  top: 55vh;
  color: #63D1F4;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  z-index: 500;
  line-height: 20vh;
  margin: 0;
}

#activity-score-down {
  font-family: 'BigBottomCartoonRegular';
  display: inline;
  font-size: 100px;
  position: absolute;
  left: 3vw;
  top: 57vh;
  color: #63D1F4;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  z-index: 500;
  line-height: 20vh;
  margin: 0;
}

#okay {
  width: 32vw;
  height: 20vh;
  position: absolute;
  bottom: -2vh;
  left: 35vw;
  display: none;
}
