@import 'homepage';
@import 'balls';
@import 'nextButton';

html, body {
  min-height: 100%;
    height: auto !important;
    height: 100%;
  // height: 100vh;
  // width: 100vw;
  margin: 0;
  background-color: #FAEBD7;
  left: 0;
  position: absolute;
}

#container {
    width: 50vw;
    height: 100vh;
    left: 0px;
    top: 0;
    -webkit-perspective: 800;
    -webkit-transform: translate(-50px, -10px);
}

$paneHeight: 220px;
$paneWidth: 80px;

ul {
  height: $paneHeight;
  width: $paneWidth;
  font-family: 'BigBottomCartoonRegular';
  color:  #1e252f;
  font-weight: bold;
  font-size: 50px;
  list-style: none;
  margin: auto;
  padding: 0;
  position: absolute;
  left: 0; top: 0; bottom: 0; right: 0;
}

li {
  border: 2px solid  #00688B;
  line-height: $paneHeight;
  position: absolute;
  text-align: center;
  width: 100%;
  background: #63D1F4;
}

.plain-text {
    height: 90vh;
    width: 60vw;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 5vh;
    right: 5vw;
    font-family: 'SimplePrintRegular';
    font-size: 25px;
    color: #292f33;
    z-index: 200;
    -webkit-transition: width 0.75s;
}

.blurry-text {
   color: transparent;
   text-shadow: 0 0 5px rgba(41,47,51,0.5);
}

.enlarge-text {
    width: 90vw;
    z-index: 200;
    -webkit-transition: width 0.75s;
}

#title {
    font-family: 'SimplePrintBold';
    padding: 5% 5% 0 5%;
    font-size: 40px;
    margin: 0;
}

#text-body {
    padding: 5% 5% 5% 5%;
    margin: 0;
}




// ###############################################################

#app {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  // overflow: hidden;
}

.screen {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

// #screen-1 {
//   background-color: red;
// }

@keyframes slideIn {
  100% { top: 0; }
}

.circle {
  position: absolute;
  bottom: 2.2vh;
  right: 1.5vh;
	width: 18vw;
	height: 18vw;
	background: #63D1F4;
	-moz-border-radius: 9vw;
	-webkit-border-radius: 9vw;
	border-radius: 9vw;
  z-index: 200;
}

.arrow {
  text-align: center;
  font-family: 'BigBottomCartoonRegular';
  font-size: 50px;
  color: #1e252f;
  margin: 0;
  vertical-align: middle;
  height: 50px;
  line-height: 70%;
}

.circleBorder {
  position: absolute;
  bottom: (-0.075vh + 2);
  right: 1.225vh;
	width: 19vw;
	height: 19vw;
	background: #1e252f;
	-moz-border-radius: 9.5vw;
	-webkit-border-radius: 9.5vw;
	border-radius: 9.5vw;
  z-index: 100;
}

.circleBorderL {
  position: absolute;
  bottom: (-0.075vh + 2);
  left: 1.225vh;
	width: 19vw;
	height: 19vw;
	background: #1e252f;
	-moz-border-radius: 9.5vw;
	-webkit-border-radius: 9.5vw;
	border-radius: 9.5vw;
  z-index: 100;
}

.circleL {
  position: absolute;
  bottom: 2.2vh;
  left: 1.5vh;
	width: 18vw;
	height: 18vw;
	background: #63D1F4;
	-moz-border-radius: 9vw;
	-webkit-border-radius: 9vw;
	border-radius: 9vw;
  z-index: 200;
}
